<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
</head>
<body>
<nav class="navigation" th:fragment="navigation">
    <a class="navigation__link" href="/">Home</a>
    <a class="navigation__link" href="/Login">Login</a>
</nav>
<nav class="menu" th:fragment="menu">
    <img class="menu__burger" th:src="@{/images/menu-burger.png}" alt="menu">
</nav>
</body>
</html>