<nav class="navigation" th:fragment="navigation">
  <a class="navigation__link" href="/">Home</a>
  <a class="navigation__link" th:unless="${isLoggedIn}" href="/login">Login</a>
  <a class="navigation__link" th:if="${isLoggedIn}" href="/profilesettings"
    >Profile</a
  >
  <form
    th:if="${isLoggedIn}"
    th:action="@{/logout}"
    method="post"
    style="display: inline"
  >
    <button type="submit" class="navigation__link">Logout</button>
  </form>
  <button
    class="navigation__darkmode-toggle"
    id="darkModeToggle"
    aria-label="Toggle dark mode"
  >
    <span class="sun-icon">☀️</span>
    <span class="moon-icon">🌙</span>
  </button>
</nav>
