<form class="report" th:fragment="report">

    <h2 class="report__title">Make a report</h2>

  <div class="report__div">

    <label class="report__label" for="report__description">Enter a description:</label>
    <input class="report__input" type="text" id="report__description" name="description" placeholder="Description" required>
    <label class="report__label"for="report__url">Enter image Url:</label>
    <input class="report__input" type="text" id="report__url" name="url" placeholder="URL">

    <div class="button__div">
      <button class="report__button" type="submit" name="report" value="DEBRIS">
        <img class="button__image" th:src="@{/images/imageDebris.png}" alt="Debris">
        <span>Debris</span>
      </button>
      <button class="report__button" type="submit" name="report" value="OTHER">
        <img class="button__image" th:src="@{/images/imageOther.png}" alt="Other">
        <span>Other</span>
      </button>
      <button class="report__button" type="submit" name="report" value="ACCIDENT">
        <img class="button__image" th:src="@{/images/imageAccident.png}" alt="Accident">
        <span>Accident</span>
      </button>
    </div>

  </div>

  <p class="report__result" id="report__result"></p>

</form>
