<div class="report" th:fragment="report">
  <button class="report__button" type="button" name="report" value="DEBRIS">
    <img class="button__debris" th:src="@{/images/imageDebris.png}" alt="Debris">
    Debris
  </button>
  <button class="report__button" type="button" name="report" value="OTHER">
    <img class="button__other" th:src="@{/images/imageOther.png}" alt="Other">
    Other
  </button>
  <button class="report__button" type="button" name="report" value="ACCIDENT">
    <img class="button__accident" th:src="@{/images/imageAccident.png}" alt="Accident">
    Accident
  </button>
</div>
