services:
  kafka:
    image: apache/kafka:4.1.0
    ports:
      - '9092:9092'
  mysql:
    image: mysql:8.4

    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: backend

    ports:
      - "3306:3306"

    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
