body{
    margin: auto;
    align-content: center;
    max-width: 1280px;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #1E1E1E;
    font-size: 2rem;
    color: white;
}
.header__image{
    margin-left: 1rem;
}

.header__title{
    text-align: center;
}

.navigation{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.navigation__link{
    color: white;
    text-decoration: none;
}
.navigation__link:hover{
    font-weight: bold;
    color:cadetblue;
}
.navigation__link:active{
    color: cadetblue;
}

.menu__burger{
    color: white;
}

.footer{
    font-size: 1rem;
    min-height: 50px;
    background-color: #1E1E1E;
    border-radius: 0.5rem;
    text-align: center;
    color: white;
}