<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="manifest" th:href="@{/favicon/site.webmanifest}">
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" media="all"/>
    <title></title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main>
    <div layout:fragment="welcome"></div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
