<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" media="all"/>
    <script defer th:src="@{/javaScript/report.js}"></script>
    <title></title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main>
    <div layout:fragment="welcome"></div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
