<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<main>
    <div class="welcome" layout:fragment="welcome">
        <h1 class="welcome__title">
          Welcome
          <span th:if="${isLoggedIn}" th:text="${userName}"></span>
        </h1>
        <p class="welcome__text" th:unless="${isLoggedIn}"> Please log in to make a report</p>
    </div>
</main>

</body>
</html>
